.header {
    grid-column: 2 / span 12;

    position: relative;
    padding: 25px 0 50px 0;

    font-size: 28px;
    text-align: right;
}

.header_title{
    width: 800px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    position: absolute;
    left: 0;
    text-align: left;
    
}



.header__list {
    display: inline-block;
    vertical-align: middle;
    margin: 0 80px 0 0;
}

.header__item {
    display: inline-block;
}

.header__item + .header__item {
    margin-left: 30px;
}

.header__link {
    text-decoration: none;
}

.header__item.is-active .header__link {
    border-bottom: 2px solid currentColor;
}

.header__button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 55px 0 0;
    padding: 10px 15px;

    border: 1px solid black;
    border-radius: 3px;

    text-decoration: none;
}

.header__profile-icon {
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 60px;

    background: rgb(177, 64, 229);

    border-radius: 50%;

    font-size: 30px;
    line-height: 60px;
    text-align: center;
}
